body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* -------------Header Section-------------- */
.container{
    padding-left: 130px;
    padding-top: 50px;
}
.container-header{
    width: 1250px;
    height: 700px;
    background-color: rgb(27, 26, 26);
    display: flex;
    border-radius: 40px;
    
}
.header-section{
    padding: 50px 80px;
}
.container-main{
    font-size: 80px;
    color: whitesmoke;
    width: 500px;
}
.container-description{
    font-size: 18px;
    color: whitesmoke;
    padding-bottom: 20px;
    width: 500px;

}
.watch-live{
    font-size: 25px;
    border-radius: 7px;
    height: 60px;
    padding: 10px 25px;
    background-color: red;
    color: whitesmoke;
    border: none;
}
.banner-images{
    width: 400px;
    height: 650px;
    padding-top: 50px;
}

/* ------------- Main Content -------------- */
.container1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 120px;
    height: auto;
    width: 100%;
}
.main-content{
    height: 250px;
    width: 350px;
    padding-left: 130px;
}
.btn-main-category{
    height: 250px;
    width: 200px;
    background-color: rgb(27, 26, 26);
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(1);
    padding: 40px  70px;
    border-radius: 10px;
}
.btn-category{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    border-radius: 10px;
    border: none;

}

#btn-category1:hover {
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
.btn-category1{
    background-color: red;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

/* -------------Blog Images-------------- */

.main-blog-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    padding-right: 85px;
    border-radius: 20px;
    padding-left: 40px;
}
.blog-image{
    border-radius: 10px;
    border: 2px solid rgb(241, 236, 236);
    margin-right: 20px;
        margin-bottom: 20px;
}
.blog-images{
    padding-bottom: 20px;
    width: 263px;
   
}
.blog-btn{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    color: black;
    border: 1px solid rgb(33, 32, 32);
    font-size: 16px;
    margin-left: 20px;
}
.blog-info{
    font-size: 18px;
    width: 250px;
    margin-left: 20px;
}
.images{
    padding: 10px 20px;
    display: flex;
}
.clock{
    padding-right: 10px;
}
.hour{
    padding-right: 50px;
}
.comment{
    padding-right: 10px;
}


/*-------------- Footer Section ----------------*/

.footer{
    height: 500px;
    width: 100%;
    background-color: rgb(26, 25, 25);
}
.footer-h1{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-top: 150px;
    padding-top: 150px;
}
.hr-section
{
    width: 1200px;
    border: 0.5px solid rgb(53, 53, 53);
    margin-bottom: 90px;
}
.footer-content{
    text-decoration: none;
    color: rgb(218, 210, 210);
    padding-left: 300px;
    padding-top: 60px;
}
.footer-content1{
    padding-left: 80px;
    text-decoration: none;
    color: rgb(218, 210, 210);
}
/* View all Button Css  */
.view-button {
    display: none;
    height: 60px;
    width: 220px;
    border-radius: 10px;
    font-size: 20px;
    margin: 18px;
    background-color: red;
    font-weight: 20px;
    padding: 2px;
    border: none;
    color: white;
}
/* New Blog */
.new-blog {
    text-decoration: none;
    color: black;
}

#new-blog {
    text-decoration: none;
    color: white;
}

.new-blog1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding-left: 20px;

}

.new-blog-content {
    border: 2px solid rgb(242, 240, 240);
    height: 200px;
    width: 250px;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 10px;
}


.new-blog-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.new-blog-images img {
    padding-right: 10px;
}

.new-blog-images p {
    padding-top: 0px;
    padding-left: 10px;
    color: black;
}

.country h3 {
    padding-top: 0px;
    text-align: center;
}

.country p {
    text-align: center;
    color: rgb(91, 90, 90);

}

/* social-media link css  */
.social-media-link i {
    padding: 0 20px;
}

.social-media-link {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.fa-brands {
    color: white;
}
/*---------- Media Queries -------------*/

/* Mobile Device */

@media screen and (max-width: 600px) {
    .container-header {
        grid-template-columns: repeat(1, 1fr);
    }

    .main-blog-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .container1 {
        grid-template-columns: repeat(1, 1fr);

    }


    .btn-main-category {

        display: flex;
        height: 80px;
        border-radius: 15px;
        border-left: 10px;
        padding-left: 10px;
    }

    .main-content {
        display: block;
        display: flex;
    }





}

/* For tablet media query  */
@media screen and (min-width: 768px) and (max-width: 992px) {
    .main-blog-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .container1 {
        grid-template-columns: repeat(1, 1fr);
    }

    .btn-main-category {
        background-color: white;
        display: flex;
        height: 100px;
    }

    .btn-main-category button {
        border: 1px solid black;
    }

    .view-button {
        display: block;
        margin-left: 40%;
        margin-top: 2%;
    }
}